.section {
  min-height: 100vh;
  display: grid;
  align-items: center;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.form {
  max-width: 400px;
  border-top: 5px solid var(--primary-500);
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.text {
  margin-top: 1rem;
  text-align: center;
  line-height: 1.5;
}

.btn {
  margin-top: 1rem;
}

.demoForm {
  display: flex;
}

.demoBtn {
  margin: 0 auto;
  width: 90vw;
  max-width: 400px;
}

